body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos del encabezado */
header {
    background-color: #0c0b0b;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 25px; /* Ajusta la altura según tu diseño */
}

nav ul {
    list-style-type: none;
    margin: 20px;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.icons {
    margin-left: auto; /* Mueve los iconos al lado derecho */
}

.icons img {
    height: 30px; /* Ajusta la altura según tu diseño */
    margin-left: 20px;
}

/* Estilos del slider */
.slider {
    width: 100%;
    overflow: hidden;
}

.slider img {
    width: 100%;
    height: auto;
}

/* Estilos del pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}